

.navbar{
    background-color: purple;
    display: flex;
    margin: 0;
    padding: 0;
    
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}

ul li{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin: 15px;
}

ul li:hover{
    color: orangered;
}


