.basket-container {
    padding-top: 20px;
    width: 100%;
    display: none;
}
.basket-container > .header {
    width: 100%;
}
.basket-container > .header > h1.title {
    font-size: 2em;
    color: black;
    text-align: center;
}
.basket-container > .body {
    
}
.basket-container > .footer {
 
}

#active {
    display: block;
}
.empty-basket > .body {
    text-align: center;
}