/*Styling for the home page and events grid below*/

.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    
}

.events{
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(3, 1fr);
}

