h2.logout {
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}
a.logout {
    width: 100%;
    text-align: center;
    margin: auto;
    align-content: center;
    padding-left: calc( 50% - 100px );
    padding-right: calc( 50% - 100px );
}
a.logout > button.logout {
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    aspect-ratio: 10;
    box-shadow: 1px 1px 3px rgba(135, 135, 135, 0.452);
    border-radius: 10px;
    border: 1px;
    outline: 5px;
    font-size: 1.1em;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
a.logout > button.logout:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
a.logout > button.logout:active {
    transform: scale(1.05);
    transition: 0.5s;
    opacity: 0.8;
}