/* search society page */

.searchSocietiesPage-container {
    margin: 15px;
}
.searchSocietiesPage-container > h1 {

}
.searchSocietiesPage-container > .table {
    width: 90%;
    height: 10em;
    background-color: white;
}
.searchSocietiesPage-container > .table > thead {
    width: 100%;
    height: 2em;
}
.searchSocietiesPage-container > .table > thead > tr {
    width: 100%;
    height: 2em;
}
.searchSocietiesPage-container > .table > thead > tr > th {
    height: 2em;
    font-size: 2em;
}
.searchSocietiesPage-container > .table > tbody {
    width: 100%;
    text-align: center;
}
.searchSocietiesPage-container > .table > tbody > tr {
    
}
.searchSocietiesPage-container > .table > tbody > tr > td {
    height: 2em;
    font-size: 1.5em;
}
.searchSocietiesPage-container > .table > tbody > tr > td > a {
    
}




/* View Society Page */

#societyPage .identity {
    padding: 10px;
}
#societyPage .header > .image > .bannerOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000055;
}
#societyPage .identity > .icon {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 100%;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 1px #000;
}
#societyPage .identity > .icon > .logo {
    width: 90px;
    height: 90px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#societyPage .identity > .name {
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 3em;
    text-shadow: 0 0 3px #000;
    margin-bottom: 20px;
}
#societyPage .identity > .socials {
    width: 220px;
    height: 90px;
    justify-content: center;
    align-content: center;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;

}
#societyPage .identity > .socials > .socialCircle{
    margin: 0 10px;
    border-radius: 100%;
}
#societyPage .identity > .socials > .socialCircle > img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
#societyPage .identity > .socials > .socialCircle > img{
    width: 2em;
    height: 2em;
}
@media (min-width: 666px) {
    #societyPage .identity {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    #societyPage .identity > .icon {
        float: left;
        position: relative;
        margin: 0;
        margin-right: 15px;
    }
    #societyPage .identity > .name {
        float: left;
        position: relative;
        margin: 0;
        width: fit-content;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
        
    }
    #societyPage .identity > .socials {
        position: absolute;
        width: fit-content;
        bottom: 6px;
        right: 20px;
        height: fit-content;
    }
}